######################################################
# Instance configuration                             #
######################################################

MOBILIZON_INSTANCE_NAME=Mobilizon Tellserv
MOBILIZON_INSTANCE_HOST=mobilizon.tellserv.fr
MOBILIZON_INSTANCE_LISTEN_IP=0.0.0.0
MOBILIZON_INSTANCE_PORT=5005
MOBILIZON_INSTANCE_REGISTRATIONS_OPEN=true
MOBILIZON_INSTANCE_EMAIL={{ smtp_from }}
MOBILIZON_REPLY_EMAIL=contact@tellserv.fr
MOBILIZON_LOGLEVEL=info

######################################################
# Database settings                                  #
######################################################

POSTGRES_USER=mobilizon
POSTGRES_PASSWORD={{ mobilizon_postgres_password }}
POSTGRES_DB=mobilizon

MOBILIZON_DATABASE_USERNAME=mobilizon
MOBILIZON_DATABASE_PASSWORD={{ mobilizon_postgres_password }}
MOBILIZON_DATABASE_DBNAME=mobilizon
MOBILIZON_DATABASE_HOST=db
MOBILIZON_DATABASE_PORT=5432
MOBILIZON_DATABASE_SSL=false

######################################################
# Secrets                                            #
######################################################

MOBILIZON_INSTANCE_SECRET_KEY_BASE={{ mobilizon_secret_key_base }}
MOBILIZON_INSTANCE_SECRET_KEY={{ mobilizon_secret_key }}

######################################################
# SMTP                                   			 #
######################################################

MOBILIZON_SMTP_SERVER={{ smtp_host }}
MOBILIZON_SMTP_PORT={{ smtp_port }}
MOBILIZON_SMTP_USERNAME={{ smtp_username }}
MOBILIZON_SMTP_PASSWORD={{ smtp_password }}
MOBILIZON_SMTP_SSL=false
MOBILIZON_SMTP_TLS=always

######################################################
# Upload paths (mounted volume)                      #
######################################################

MOBILIZON_UPLOADS=/var/lib/mobilizon/uploads
