PHOTOPRISM_ADMIN_USER={{ photoprism_admin_user }}
PHOTOPRISM_ADMIN_PASSWORD={{ photoprism_admin_password }}
PHOTOPRISM_DATABASE_PASSWORD={{ photoprism_database_password }}
MARIADB_PASSWORD={{ photoprism_database_password }}
MARIADB_ROOT_PASSWORD={{ photoprism_database_password }}
MARIADB_USER=photoprism
