VAULTWARDEN_ADMIN_TOKEN='{{ vaultwarden_admin_token }}'
SMTP_USERNAME={{ smtp_username }}
SMTP_PASSWORD={{ smtp_password }}
SMTP_FROM={{ smtp_from }}
SMTP_HOST={{ smtp_host }}
SMTP_PORT={{ smtp_port }}
SMTP_SECURITY=starttls
SIGNUPS_ALLOWED=false
