services:
  yamtrack:
    container_name: yamtrack
    image: ghcr.io/fuzzygrim/yamtrack
    restart: unless-stopped
    depends_on:
      - redis
    environment:
      - SECRET=${SECRET}
      - REDIS_URL=redis://redis:6379
      - TMDB_LANG=fr
      - TMDB_NSFW=true
      - MAL_NSFW=true
      - MU_NSFW=true
      - IGDB_ID=${IGDB_ID}
      - IGDB_SECRET=${IGDB_SECRET}
      - IGDB_NSFW=true
      - TZ=Europe/Paris
      - URLS=https://yamtrack.tellserv.fr,https://yamtrack.local.tellserv.fr
    volumes:
      - ./db:/yamtrack/db
    networks:
      - traefik_network
    labels:
      - traefik.enable=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-local.rule=Host(`${COMPOSE_PROJECT_NAME}.local.tellserv.fr`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-local.entryPoints=local
      - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-local.tls.certresolver=cloudflare-local"
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-local.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-prod.rule=Host(`${COMPOSE_PROJECT_NAME}.tellserv.fr`)
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-prod.entryPoints=websecure
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-prod.tls=true
      - traefik.http.routers.${COMPOSE_PROJECT_NAME}-prod.tls.certResolver=cloudflare
      - traefik.http.services.${COMPOSE_PROJECT_NAME}.loadbalancer.server.port=8000
      - com.centurylinklabs.watchtower.enable=true

  redis:
    container_name: yamtrack-redis
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - traefik_network

volumes:
  redis_data: null

networks:
  traefik_network:
    external: true
