services:
  clipcascade:
    image: sathvikrao/clipcascade:0.7.0
    restart: unless-stopped
    volumes:
    - ./cc_users:/database
    environment:
    - CC_MAX_MESSAGE_SIZE_IN_MiB=100
    - CC_P2P_ENABLED=false
    networks:
    - traefik_network
    labels:
    - traefik.enable=true
    - traefik.http.routers.${COMPOSE_PROJECT_NAME}-local.rule=Host(`${COMPOSE_PROJECT_NAME}.local.tellserv.fr`)
    - traefik.http.routers.${COMPOSE_PROJECT_NAME}-local.entryPoints=local
    - "traefik.http.routers.${COMPOSE_PROJECT_NAME}-local.tls.certresolver=cloudflare-local"
    - traefik.http.routers.${COMPOSE_PROJECT_NAME}-local.tls=true
    - traefik.http.routers.${COMPOSE_PROJECT_NAME}-prod.rule=Host(`${COMPOSE_PROJECT_NAME}.tellserv.fr`)
    - traefik.http.routers.${COMPOSE_PROJECT_NAME}-prod.entryPoints=websecure
    - traefik.http.routers.${COMPOSE_PROJECT_NAME}-prod.tls=true
    - traefik.http.routers.${COMPOSE_PROJECT_NAME}-prod.tls.certResolver=cloudflare
    - traefik.http.services.${COMPOSE_PROJECT_NAME}.loadbalancer.server.port=8080
    - com.centurylinklabs.watchtower.enable=true
networks:
  traefik_network:
    external: true
